#root {
    width: 100vw;
    overflow-y: scroll;
}

.container-page {
    height: calc(100vh - 56px);
    /* display: flex;
    justify-content: space-around; */
}

.offline-msg {
    padding: 0.2em 0.5em;
    text-align: center;
    position: relative;
    z-index: -2;
    top: -100px;
    opacity: 0;
    transition: all .6s linear;
}

.offline-msg--visible {
    top: 0;
    opacity: 1;
    transition: all .6s linear;
}