.client-form {
    min-width: 300px;
    width: 90%;
    max-width: 500px;
    margin: auto;
}

.client-form .input-group {
    max-width: 200px;
}

.client-form .input-group .custom-file {
    width: 100%;
    cursor: pointer;
}

.client-form .display-4 {
    margin-top: 1em;
    text-align: center;
    font-size: 1.8em;
}

.client-form .form-group {
    margin-top: 1.5em;
}

.client-form .form-group label {
    margin-bottom: 0;
}

.client-form .form-group small {
    margin: 3px 0 0 5px;
    font-size: .7em;
    text-transform: capitalize;
}

.client-form button {
    margin-bottom: 20px;
}