.input-group-no-borders {
    position: relative;
    --input-gorm-gray: #fafafa;
    --input-gorm-gray-hover: #dadada;
    --input-gorm-gray-active: #ccc;
    transition: all .6s;
}

.input-group-no-borders .form-control {
    border-radius: 3px!important;
    border: 0;
    background: rgba(240, 240, 240, .9);
    /* border-bottom: 1px solid var(--input-gorm-gray); */
}

.input-group-no-borders .form-control:focus {
    box-shadow: none;
    /* border-bottom: 1px solid var(--blue); */
}

.input-group-no-borders .form-control:disabled {
    background: rgba(240, 240, 240, .3);
}

.input-group-no-borders .input-group-prepend .input-group-text,
.input-group-no-borders .input-group-append .input-group-text {
    border: none;
}

.input-group-no-borders .input-group-append .input-group-text {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -2.5em;
    background: none;
    opacity: 0;
    z-index: 100;
    transition: all .3s;
}

.input-group-no-borders:hover .input-group-append .input-group-text {
    background: rgba(255, 255, 255, .5);
    opacity: 1;
    transition: all .3s;
}

.input-group-no-borders--editable::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    /* background: var(--blue); */
    background: rgba(0, 0, 255, .5);
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: all .3s;
}

.input-group-no-borders--editable:hover::after {
    transform: scaleX(1);
    transition: all .3s;
}

.input-group-no-borders--editable .input-group-prepend .input-group-text,
.input-group-no-borders--editable .input-group-append .input-group-text {
    opacity: 1;
    transition: all .3s;
}

.input-group-no-borders--editable:hover .input-group-prepend .input-group-text,
.input-group-no-borders--editable:hover .input-group-append .input-group-text {
    background: rgba(255, 255, 255, .5);
    transition: all .3s;
}